* {
}

.background-image {
    width: 90%;
    margin: auto;
}

.game-container {
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    color: white;
    margin-bottom: 25px;
}

.isFavorite {
    width: 40px;
    height: 40px;
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/3/35/Emoji_u2665.svg");
    background-size: 100%;
    align-self: flex-end;
    margin-right: 80px;

}

.notFavorite {
    width: 40px;
    height: 40px;
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/4/4f/Ei-heart.svg");
    background-size: 100%;
    align-self: flex-end;
    margin-right: 80px;
    border:  1px solid white;
    background-color: white;
}